* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.ContainerNewspaper {
  background-color: rgb(255, 255, 255);
  height: auto;
  min-height: 300px;
  max-height: auto;
  margin: 40px auto;
  min-width: 320px;
  max-width: auto;
  padding: 60px;
  width: 700px;
}

.header {
  border-top: 2px solid;
  border-bottom: 2px solid;
  height: 30px;
  width: auto;
  padding: 10px;
}

.header__navbar {
  align-items: center;
  color: rgb(112, 110, 110);
  display: flex;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  flex-direction: row-reverse;
  height: 100%;
  justify-content: space-between;
  width: auto;
}

.sectionHeading {
  align-items: center;
  border-bottom: 2px solid;
  display: flex;
  font-size: 70px;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
  height: 150px;
  width: auto;
}

.sectionArticles {
  border-bottom: 2px solid;
  justify-content: space-between;
  display: flex;
  height: auto;
  width: auto;
}

.sectionArticles__content {
  color: #525252;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  min-height: 150px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: justify;
  width: 350px;
}

.sectionArticles__content > h5 {
  color: #525252;
  font-size: 20px;
  padding: 28px 0px;
}

.sectionArticles__content > p {
  line-height: 25px;
}

.sectionArticles__img {
  background-color: rgb(218 219 218);

  margin-top: 25px;
  margin-bottom: 25px;
  min-height: 150px;
  width: 320px;
}

.sectionFooter {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: auto;
}

.sectionFooter__Content {
  color: #525252;
  font-family: "Times New Roman", Times, serif;
  min-height: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 200px;
}

.sectionFooter__Content > p {
  padding-top: 25px;
  color: #413f3f;
}
h1,
h2 {
  text-transform: uppercase;
  color: #312f2f;
}
